<div class="shadow-sm p-3 mb-5 bg-white rounded">
  <div class="form-group">
    <label for="first_name">First Name</label>
    <input type="text" name="firstName" class="form-control" value="<%= locals.user ? user.first_name : '' %>">
  </div>
  <div class="form-group">
    <label for="last_name">Last Name</label>
    <input type="text" name="lastName" class="form-control" value="<%= locals.user ? user.last_name : '' %>">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" name="email" class="form-control" value="<%= locals.user ? user.email : '' %>">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" class="form-control" value="<%= locals.user ? user.password : '' %>">
  </div>
  <div class="form-group">
    <label for="password">Password Confirmation</label>
    <input type="password" name="passwordConfirmation" class="form-control" value="<%= locals.user ? user.password : '' %>">
  </div>
  <input type="submit" class="btn btn-primary">
</div>
