<%- include('../partials/header') %>
  <h1>Event Show Page</h1>
  <div class="shadow p-3 mb-5 bg-white rounded">
    <h3><%= event.id %>: <%= event.title %></h3></br>
    <p><%= event.description %></p>
    <hr>
    <p class="float-right"><%= event.updated_at %></p>
    <form action="/events/<%= event.id %>" method="POST" style="display: inline;">
      <!-- We need this hidden input for methodOverride middleware to change this POST request to a DELETE request -->
      <input type="hidden" name="_method" value="DELETE">
      <input class="btn btn-danger" type="submit" value="Delete">
    </form>
    <a href="/events/<%= event.id %>/edit" class="btn btn-info">Edit</a>
  </div>
<%- include('../partials/footer') %>